<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Categoria da Avaliação</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="topo">
    <h1>ObservAção</h1>
</div>


<div class="container">

    <h2>Selecione a Categoria</h2>

    <p>
        Escolha a área que deseja avaliar.
    </p>

    <form th:action="@{/avaliacao/categoria}" method="post" class="caixa-opcoes">

        <div class="opcao-categoria">
            <input type="radio" id="medico" name="categoria" value="MEDICO" required>
            <label for="medico">Médicos</label>
        </div>

        <div class="opcao-categoria">
            <input type="radio" id="enfermagem" name="categoria" value="ENFERMAGEM">
            <label for="enfermagem">Enfermeiros</label>
        </div>

        <div class="opcao-categoria">
            <input type="radio" id="estrutura" name="categoria" value="ESTRUTURA">
            <label for="estrutura">Infraestrutura </label>
        </div>

        <div class="botao-direita">
            <button type="submit">CONFIRMA</button>
        </div>

    </form>

    <br>

    <a th:href="@{/avaliacao/unidade}">
        <button class="voltar">
            Voltar
        </button>
    </a>

</div>

</body>
</html>
```
